body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family:'Roboto','Helvetica','Arial',sans-serif!important; 
}
header a {
  text-decoration: none;
}
.grid-example > div {
  margin-bottom: .7rem;
}
.grid-example { 
  margin-bottom: 1.5rem;
}
img#preview { border: 1px solid #ccc; padding:3px;}
.form2 { background:rgba(143, 65, 65, 0.486);}
.form { margin: 0 auto;}
.featureCon { flex-direction: column;}
.footer-container { flex-direction: column}
.footer-logo { text-align: center }
@media (min-width: 550px) {
.footer-logo { flex: 1; text-align: right }
.footer-container { flex-direction: row}
  .featureCon {display: flex; justify-content: space-around; flex-direction: row}
  .form { width: 60%}
  .feature-container .split {
    width: 50%;
  }
  
}
@media (min-width: 768px) {
  .form { width: 50%}
}
.form .grid-example > div > div { display:flex; }
h1 {
  color: #019688;
  font-weight: 400;
}

.container { max-width: 1100px; margin-left: auto; margin-right: auto; padding: 1.5em}